body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

header {
    background-color: #ffb6c1;
    color: #000000;
    padding: 10px;
}

h1 {
    margin: 20px;
    margin-top: 20px;
}



nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}


h2 {
    color: #ffb6c1;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 5px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.logo {
    display: inline-flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}